<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>

</head>
<style>
    .center {
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .active-result{
    color:black;
    }
}

</style>

<body>
<div class="container-fluid">
    <div class="container" style='text-align:center'><h1>Welcome to the Game Zone</h1></div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col"><div class="col-sm-3"><div>Title</div><input type="text" id="title_search"/></div></th>
            <th scope="col">
                <div class="col-sm-3">
                    <div>Platform</div>
                    <select multiple class="platform-select">
                        {% for platform in platforms %}
                            <option value="{{platform.id}}">{{platform.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </th>
            <th scope="col">
                <div class="col-sm-3">
                    <div>Genre</div>
                    <select multiple class="genre-select">
                    {% for genre in genres %}
                            <option value="{{genre.id}}">{{genre.name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </th>
            <th scope="col">Score</th>
            <th scope="col">
                <div class="col-sm-3">
                    <div>Editor choice</div>
                    <select multiple class="editorchoice-select">
                        {% for editors_choice in editors_choices %}
                            <option value="{{editors_choice}}">{{editors_choice}}</option>
                    {% endfor %}
                    </select>
                </div>
            </th>
        </tr>
        </thead>
        <tbody id="records">
        <tr style="display:none">
            <th scope="row">1</th>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
        </tr>
        </tbody>
    </table>
    <div id="message"></div>
    <div class="btn btn-info" id="apply_filter">
        Apply Filters
    </div>

    <!--Page Controllers-->
    <div class="row center">
        <a href="#" id="back"><i class="material-icons">arrow_back</i></a>
        <a href="#" id="next"><i class="material-icons">arrow_forward</i></a>
    </div>



</div>
</body>
</html>
<script>
var auth_method = prompt("Which authentication method you will like to use\n 1.'T' for Token Authentication\n 2.'B' for BasicAuth")
var no_of_results;
var records;
var previous;
var next;
//var base_url = "http://127.0.0.1:8000/main_app/api/games/"
//var current_url="http://127.0.0.1:8000/main_app/api/games/";
var base_url = "https://cgpython.herokuapp.com/main_app/api/games/"
var current_url = "https://cgpython.herokuapp.com/main_app/api/games/"
var current_data;
function clear()
{
    $("#records").find("tr:gt(0)").remove();
}

function loadajax()
{
    $(".platform-select").chosen()
    $(".genre-select").chosen()
    $(".editorchoice-select").chosen()
    clear();
    $("#message").html("<img src='https://hackernoon.com/hn-images/0*4Gzjgh9Y7Gu8KEtZ.gif' width=150 height=150>");

    var headers;
    if (auth_method == 'B')
    {
         headers = {
         "Authorization": "Basic " + btoa("nimish" + ":" + "abcdtest")
         }
    }
    else if (auth_method == 'T')
    {
        headers = {
        "Authorization": "Token " + "c7a5eea92bd17b96fcc15836aabe912470fbb5cf" //get the token here by hitting login api (here we are using static)
        }
    }


    $.ajax
    ({
      type: "GET",
        url: current_url,
      dataType: 'json',
      headers: headers,
      success: function (data){
//        console.log(data);
        current_data = data;
        previous=data['previous'];
        next=data['next'];
        if (previous==undefined)
        {
            $('#back').hide();
        }
        else{
            $('#back').show();
        }

       if (next==undefined)
        {
            $('#next').hide();
        }
        else
        {
            $('#next').show();
        }

        $("#message").html("");
        no_of_results = data['count'];

        if (no_of_results==0)
        {
            $("#message").html("No records Found")
        }

        records = data['results'];
        for(var i=0;i<records.length;i++)
        {
            var obj_id = records[i]["id"]
            var title = records[i]["title"]
            var platform = records[i]["platform"]["name"]
            var genre = records[i]["genre"]["name"]
            var editors_choice = records[i]["editors_choice"]
            var score = records[i]['score']
            //console.log(obj_id, title, platform, genre, editors_choice, score);
            $('#records tr:last').after('<tr><th scope="row">'+obj_id+'</th><td>'+title+'</td><td>'+platform+'</td><td>'+genre+'</td><td>'+score+'</td><td>'+editors_choice+'</td></tr>');

        }

      }
    });

}

$(function(){
    setTimeout(loadajax,0);
});

$("#back").on('click', function(){
    current_url = current_data['previous'];
    setTimeout(loadajax,0);
    });
$("#next").on('click', function(){
    current_url = current_data['next'];
    setTimeout(loadajax,0);
    });

function apply_filters()
{
        var platforms = $(".platform-select").val().join();
        var genres = $(".genre-select").val().join();
        var editor_choice = $(".editorchoice-select").val().join();
        var search_term = $("#title_search").val();
//        console.log(platforms, genres, editor_choice, search_term);
        var url =base_url + "?" + 'platforms='+platforms+'&genres='+genres+'&editors_choice='+editor_choice+'&search_term='+search_term;
        current_url = url;
        setTimeout(loadajax,0);


}

$("#apply_filter").on('click', function()
    {
    apply_filters();
    });

$('input').keydown( function( event ) {
    if ( event.which === 13 ) {
        console.log("pressed");
        event.preventDefault();
        apply_filters();
        return false;
    }
});

</script>
