<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Hello</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 btn btn-danger" id="myBtn">Click</div>
        <div class="col-xs-12 col-sm-6 col-lg-4 btn btn-danger" id="myBtn1">Click</div>
        <div class="col-xs-12 col-sm-6 col-lg-4 btn btn-danger" id="myBtn2">Click</div>
        <div class="col-xs-12 col-sm-6 col-lg-4 btn btn-danger" id="myBtn3">Click</div>
        <img src="{{ file.url }}">
    </div>
</div>
</body>
</html>
<script>
    $('.btn').text("hmm");
    $('#myBtn').click(function(){
    alert("clicked");
    });
</script>
